[submodule "lazy-vim-config"]
	path = lazy-vim-config
	url = git@github.com:programus/lazy-vim-config.git
[submodule "tmux/oh-my-tmux"]
	path = tmux/oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "hammerspoon/my-spoons"]
	path = hammerspoon/my-spoons
	url = git@github.com:programus/spoons.git
[submodule "hammerspoon/Spoons/hs_select_window.spoon"]
	path = hammerspoon/Spoons/hs_select_window.spoon
	url = https://github.com/dmgerman/hs_select_window.spoon.git
