[submodule "lazy-vim-config"]
	path = lazy-vim-config
	url = git@github.com:programus/lazy-vim-config.git
[submodule "tmux/oh-my-tmux"]
	path = tmux/oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
